[submodule "lib/crops"]
	path = lib/crops
	url = https://github.com/andr-ew/crops
[submodule "lib/patcher"]
	path = lib/patcher
	url = https://github.com/andr-ew/patcher
[submodule "lib/produce"]
	path = lib/produce
	url = https://github.com/andr-ew/produce
